body {
    margin: 0;
    height: 1480px;
    position: relative;
    font-family: Lato;
    font-style: normal;
}
.header {
    background-color: #ED4C5C;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header_container {
    width: 65%;
    display: flex;
    align-items: center;
    gap: 70px;

}
.header_context{
    width: 445px;
    height: 311px;
    display: flex;
    flex-direction: column;
}

.header_heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: white;

}
.header_text {

    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    width: 445px;
    height: 64px;
    text-align: justify;
    padding-bottom: 20px;

}
.header_img {
    cursor: pointer;
    display: flex;
    gap: 10px;
    width: 134px;
    height: 32px;
}
.markets:hover{
    transform: scale(1.2);
}
.appstore {
    padding-left: 28px;
    padding-right: 28px;
}

.videos {
    width: 445px;
    height: 311px;
    border-radius:15px;
}
.videos img {
    background-color: transparent;
}

.main_info{
    max-width: 100%;
    height: 545px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container{
    width: 65%;
    height: 305px;
    display: flex;
    gap: 125px;

}
.main_container_contacts {
    width: 445px;
    height: 160px;
}
.contacts {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}
.con_que {
    width: 434px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
}
.main_container_inputs{
    width: 540px;
    height: 305px;;
}
input {
    outline: none;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    width: 255px;
    height: 60px;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding: 20px 25px;
}
.last_name_input {
    margin-left: 25px;
}
.phone_input {
    width: 540px;
    height: 60px;
    margin: 20px 0;
}
.service_opt{
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding: 20px 25px;
    margin-bottom: 20px;
}
select {
    appearance: none;
    background: url(img/arrow.png) no-repeat 95% center;
}
.submit_btn {
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: none;
    border-radius: 6px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.submit_btn:hover {
    background-color: #b33945;
}
.submit_btn:focus {
    outline: none;
}
.footer {
    background-color: #FAFAFA;;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer_container {
    width: 65%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_head {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    padding-bottom: 20px;
}
.adress_text {
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}
.services_menu {
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
}
li {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.touch_menu {
    font-size: 12px;
    line-height: 14px;
    color: #101010;

}
.in {
    padding-left: 17px;
    padding-right: 17px;
}
.text_down {
    width: 65%;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}
